@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    Scrummy is a Scrum project managment tool developed as a part of masters degree thesis on
    <a target="_blank" href="https://www.fer.unizg.hr/">Faculty of Electrical Engineering and Computing</a>.
</p>

<h3>Contact</h3> 

<address>
    Jan Kelemen, 0036479753<br />
    <a href="mailto:jan.kelemen@fer.hr" target="_top">jan.kelemen@fer.hr</a>
</address>
