@model Scrummy.Application.Web.MVC.ViewModels.Project.ListProjectsViewModel

@{
    ViewData["Title"] = "List projects";
}

<h2>List of projects</h2> <hr/>

<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Current team</th>
            <th class="actionColumn"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>
                    @project.ProjectViewModel.Text
                </td>
                <td>
                    <a asp-area="" asp-controller="Team" asp-action="Index" asp-route-id="@project.TeamViewModel.Id">@project.TeamViewModel.Text</a>
                </td>
                <td>
                    <a asp-area="" class="btn btn-default tableButton" asp-action="Index" asp-route-id="@project.ProjectViewModel.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
