@model Scrummy.Application.Web.MVC.ViewModels.Team.ListTeamsViewModel

@{
    ViewData["Title"] = "List teams";
}

<h2>List of teams</h2> <hr/>

<table class="table">
    <thead>
        <tr>
            <th>Team</th>
            <th class="actionColumn" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>
                    @team.Text
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-default" asp-route-id="@team.Id"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a asp-area="" class="btn btn-default" asp-action="Index" asp-route-id="@team.Id"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
